#result{
    text-align: left;
    font-size:30px;
    margin-top:-3px;
    margin-bottom:-3px; 
   
}
div.padding > div{
    padding-top:2px;
   padding-bottom:-5px
}
.span{
    display: flex;
    flex-direction: row;
    margin-left:3px

  }
div > span{
background-color: #131212;
  width:80px;
  margin:1.5px;
  text-align: center;
  line-height:40px;
  font-size: 18px;
  padding-left:4px;
  padding-right:11.5px;
  padding-bottom:8px;
  padding-top:5px;
  color: white;
}
#result{
    width:394px;
    height:70px; 
    background-color:rgb(82, 76, 76);
    margin-left:2px;
}
#calculator{
    background-color: rgb(82, 76, 76);;
    width:401px;
    height:355px;
    border-left:none;
    margin-left:500px;
    margin-top:200px ;
}
.key1{
    background-color: black;
    font-size:20px;
    

}
